* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker{
  border: 1px solid #ccc;
 border-radius:3px;
}
#datetime-picker:focus{
box-shadow: 0 0 8px #967c89;}

.timer {
  display:flex;
  justify-content: space-between;
}
.value {
 background-color:#ceacac;
}
.field {
  display: flex;
  flex-direction: column-reverse ;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
}